In [1]:
import requests
import json
import pandas as pd

## 1 coingecko
#### Leading Crytocurrency price listings

In [2]:
url1 = 'https://api.coingecko.com/api/v3/exchange_rates'
response1  = requests.get(url1)

##### Approach 1

In [11]:
if response1.status_code == 200:
    data_1 = response1.json()
    data_1 = data_1['rates']
    print(type(data_1))
    df =  pd.DataFrame(data_1)
    df = df.transpose() # df.T    #This can also transpose
else:
    print('Error with url')

# type(data_1)
# data
df.head(10)

<class 'dict'>

              name  unit      value    type
btc        Bitcoin   BTC        1.0  crypto
eth          Ether   ETH     17.383  crypto
ltc       Litecoin   LTC    365.226  crypto
bch   Bitcoin Cash   BCH    182.627  crypto
bnb   Binance Coin   BNB     89.079  crypto
eos            EOS   EOS  20864.052  crypto
xrp            XRP   XRP  58165.275  crypto
xlm         Lumens   XLM  170523.43  crypto
link     Chainlink  LINK   3017.694  crypto
dot       Polkadot   DOT   2628.075  crypto

##### Aproach 2

In [5]:
if response1.status_code == 200:
    data_1 = response1.json()
    data_1 = data_1['rates']

    keys = []
    for val in data_1:
        keys.append(val)
# print(keys)

    data_coll = []
    for val in keys:
        data = data_1[val]
        data_coll.append(data)
        df_data_coll =  pd.DataFrame(data_coll)
else:
    print('Error with the api')

In [6]:
df_data_coll.head(10)

           name  unit       value    type
0       Bitcoin   BTC       1.000  crypto
1         Ether   ETH      17.383  crypto
2      Litecoin   LTC     365.226  crypto
3  Bitcoin Cash   BCH     182.627  crypto
4  Binance Coin   BNB      89.079  crypto
5           EOS   EOS   20864.052  crypto
6           XRP   XRP   58165.275  crypto
7        Lumens   XLM  170523.430  crypto
8     Chainlink  LINK    3017.694  crypto
9      Polkadot   DOT    2628.075  crypto

## 2 URLhaus API 
#### Dedicated API that allows to gather information on a specific URL

In [8]:
url2 = 'https://urlhaus-api.abuse.ch/v1/urls/recent'
response2  = requests.get(url2)

In [12]:
if response2.status_code == 200:
    data_2  = response2.json()  
    print(type(data_2))
    data_2 = data_2['urls']
    df  = pd.DataFrame(data_2)
else:
    print('Error with the api')

<class 'dict'>

In [13]:
df.head(5)

,id,urlhaus_reference,url,url_status,host,date_added,threat,blacklists,reporter,larted,tags
0,2250713,https://urlhaus.abuse.ch/url/2250713/,http://187.172.84.113:56243/.i,online,187.172.84.113,2022-06-26 16:36:13 UTC,malware_download,"{'spamhaus_dbl': 'not listed', 'surbl': 'not l...",geenensp,true,[hajime]
1,2250712,https://urlhaus.abuse.ch/url/2250712/,http://223.154.248.91:46518/mozi.a,online,223.154.248.91,2022-06-26 16:26:06 UTC,malware_download,"{'spamhaus_dbl': 'not listed', 'surbl': 'not l...",tammeto,true,[mirai]
2,2250711,https://urlhaus.abuse.ch/url/2250711/,http://162.191.176.32:42406/mozi.m,online,162.191.176.32,2022-06-26 16:19:04 UTC,malware_download,"{'spamhaus_dbl': 'not listed', 'surbl': 'not l...",tammeto,true,[Mozi]
3,2250710,https://urlhaus.abuse.ch/url/2250710/,http://1.173.193.56:35624/.i,online,1.173.193.56,2022-06-26 16:06:08 UTC,malware_download,"{'spamhaus_dbl': 'not listed', 'surbl': 'not l...",geenensp,true,[hajime]
4,2250709,https://urlhaus.abuse.ch/url/2250709/,http://1.69.102.125:62990/.i,online,1.69.102.125,2022-06-26 15:47:07 UTC,malware_download,"{'spamhaus_dbl': 'not listed', 'surbl': 'not l...",geenensp,true,[hajime]

## 3 Breweries

In [14]:
url3 = 'https://api.openbrewerydb.org/breweries'
response3 = requests.get(url3)

In [15]:
if response3.status_code == 200:
    data_3 = response3.json()
    print(type(data_3))
    df = pd.DataFrame(data_3)

<class 'list'>

In [16]:
df.head(5)

20

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url,updated_at,created_at
0,banjo-brewing-fayetteville,Banjo Brewing,planning,None,None,None,Fayetteville,West Virginia,None,25840,United States,None,None,3042164231,None,2021-10-23T02:24:55.243Z,2021-10-23T02:24:55.243Z
1,barrel-brothers-brewing-company-windsor,Barrel Brothers Brewing Company,micro,399 Business Park Ct Ste 506,None,None,Windsor,California,None,95492-6652,United States,None,None,7076969487,http://www.barrelbrothersbrewing.com,2021-10-23T02:24:55.243Z,2021-10-23T02:24:55.243Z
2,bay-brewing-company-miami,Bay Brewing Company,planning,None,None,None,Miami,Florida,None,33130-3488,United States,None,None,18134763767,None,2021-10-23T02:24:55.243Z,2021-10-23T02:24:55.243Z
3,bent-shovel-brewing-oregon-city,Bent Shovel Brewing,micro,21678 S Latourette Rd,None,None,Oregon City,Oregon,None,97045-9453,United States,None,None,5038980220,http://www.bentshovelbrewing.com,2021-10-23T02:24:55.243Z,2021-10-23T02:24:55.243Z
4,snow-belt-brew-chardon,Snow Belt Brew,micro,9511 Kile Rd,None,None,Chardon,Ohio,None,44024,United States,None,None,None,None,2021-10-23T02:24:55.243Z,2021-10-23T02:24:55.243Z

## 4 Imgflip API
#### Gets an array of popular memes

In [125]:
url4 = 'https://api.imgflip.com/get_memes'
response4 = requests.get(url4)

In [136]:
if response4.status_code == 200:
    data = response4.json()
    data = data['data']['memes']
    print(type(data))
    df4 = pd.DataFrame(data)

<class 'list'>

In [139]:
df4.head(5)

,id,name,url,width,height,box_count
0,181913649,Drake Hotline Bling,https://i.imgflip.com/30b1gx.jpg,1200,1200,2
1,87743020,Two Buttons,https://i.imgflip.com/1g8my4.jpg,600,908,3
2,112126428,Distracted Boyfriend,https://i.imgflip.com/1ur9b0.jpg,1200,800,3
3,131087935,Running Away Balloon,https://i.imgflip.com/261o3j.jpg,761,1024,5
4,217743513,UNO Draw 25 Cards,https://i.imgflip.com/3lmzyx.jpg,500,494,2

##  5 genderize.io
#### A simple API to predict the gender of a person given their name

In [115]:
name = input("Tell is your name : \n")

Tell is your name :
Kelechi

In [123]:
base_url = 'https://api.genderize.io?name='
full_url = f"{base_url}{name}"
response5 = requests.get(full_url)
if response5.status_code == 200:
    data = response5.json()
    name = data['name']
    gender = data['gender']
    probability = data['probability']
    count = data['count']
    print(f"""Hello {name},
    
We believe you are a {gender} cos we know {count} other people named {name} and they are all {gender}s.

Thank You!""")

Hello Oladapo,

We believe you are a male cos we know 474 other people named Oladapo and they are all males.

Thank You!

In [117]:
data

{'name': 'Kelechi', 'gender': 'male', 'probability': 0.83, 'count': 761}

In [121]:
def gender_prediction(name):
    base_url = 'https://api.genderize.io?name='
    full_url = f"{base_url}{name}"
    response5 = requests.get(full_url)
    if response5.status_code == 200:
        data = response5.json()
        name = data['name']
        gender = data['gender']
        probability = data['probability']
        count = data['count']
        msg = print(f"""Hello {name},

        We believe you are a {gender} cos we know {count} other people named {name} and they are all {gender}s.

        Thank You!""")
    return msg

In [122]:
name  = 'Oladapo'
gender_prediction(name)

Hello Oladapo,

        We believe you are a male cos we know 474 other people named Oladapo and they are all males.

        Thank You!

## 6 Kraken Exchange

In [ ]:
url_order = 'https://api.kraken.com/0/public/Depth?pair='
url_pair = 'https://api.kraken.com/0/public/AssetPairs'

resp_pair = requests.get(url_pair)
# resp_order = requests.get(url_order)
# resp = requests.get('https://api.kraken.com/0/public/Depth?pair=XBTUSD')

if resp_pair.status_code == 200:
    data_4 = resp_pair.json()
    pair_list = []
    for pair in data_4['result']:
        pair_list.append(pair)
    
    

# pair_list
url_order = 'https://api.kraken.com/0/public/Depth?pair=BICOUSD'
resp_order = requests.get(full_url_order)

if resp_order.status_code == 200:
    data_5 = resp_order.json()
#     data_5 = data_5['result']
    print(type(data_5))

# pair_list
l = data_5.keys()
l

data_5[]

# response_list = []
for pair in pair_list[:1]:
    full_url_order = f"{url_order}{pair}"
    print(full_url_order)    
    resp_order = requests.get(full_url_order)
    if resp_order.status_code == 200:
        data_5 = resp_order.json()
        data_5 = data_5['result']
        print(type(data_5))
        


type(data_5)
df5 = pd.DataFrame(data_5)
# data_5
# df5 = df5.T
df5

full_order = []
if resp_order.status_code == 200:
    order_data = resp_order.json()
    order_data = order_data['result']
    full_order.append(order_data)
    print(order_data)

len(full_order)

url_order = 'https://api.kraken.com/0/public/Depth?pair=1INCHEUR'
resp_order = requests.get(url_order)

if resp_order.status_code == 200:
    data_4 = resp_order.json()

#     df = pd.DataFrame(data_4)
data_4 = data_4['result']

len(full_order)

df = pd.DataFrame(data_4)
df.T

data_4